@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
@source '../../../../vendor/bezhansalleh/filament-panel-switch/resources/views';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/';
@source '../../../../vendor/jeffgreco13/filament-breezy/resources/views';
